doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='')
    title #{title}
    != css('styles')
    != js('application')
    script(src='js/lib/jquery.gridster.js')
    script(src='js/lib/flowtype.js')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/lib/gridster.css')
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
  body
    #wrap
      include partials/navigation
      include partials/flash
      section.demo
        .gridster
          ul
            li#s1.gs-w(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-github
                footer
                  | GitHub
                  i.fa.fa-github-alt.fafooter.pull-right
            li#s2.gs-w(data-row='1', data-col='2', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-twitter
                footer
                  | Twitter
                  i.fa.fa-comments.fafooter.pull-right
            li#s3.gs-w(data-row='1', data-col='3', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-facebook
                footer
                  | Facebook
                  i.fa.fa-users.fafooter.pull-right
            li#s4.gs-w(data-row='1', data-col='4', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-instagram
                footer
                  | Instagram
            li#s5.gs-w(data-row='1', data-col='5', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-linkedin
                footer
                  | Linkedin
                  i.fa.fa-envelope.fafooter.pull-right
            li#s6.gs-w(data-row='2', data-col='1', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-tumblr
                footer
                  | Tumblr
            li#s7.gs-w(data-row='2', data-col='2', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-foursquare
                footer
                  | Foursquare
            li#s8.gs-w(data-row='2', data-col='3', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-stack-overflow
                footer
                  | Stack-Overflow
            li#s9.gs-w(data-row='2', data-col='4', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-skype
                footer
                  | Skype
                  i.fa.fa-envelope.fafooter.pull-right
            li#s10.gs-w(data-row='2', data-col='5', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-flickr
                footer
                  | Flickr
            li#s11.gs-w(data-row='3', data-col='1', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-dropbox
                footer
                  | Dropbox
                  i.fa.fa-check-square.fafooter.pull-right
            li#s12.gs-w(data-row='3', data-col='2', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-vimeo-square
                footer
                  | Vimeo
            li#s13.gs-w(data-row='3', data-col='3', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-google-plus
                footer
                  | Google-Plus
                  i.fa.fa-users.fafooter.pull-right
            li#s14.gs-w(data-row='3', data-col='4', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-pinterest
                footer
                  | Pinterest
                  i.fa.fa-dot-circle-o.fafooter.pull-right
            li#s15.gs-w(data-row='3', data-col='5', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-dribbble
                footer
                  | Dribbble
            li#s16.gs-w(data-row='4', data-col='1', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-youtube
                footer
                  | Youtube
            li#s17.gs-w(data-row='4', data-col='2', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-bitbucket
                footer
                  | BitBucket
            li#s18.gs-w(data-row='4', data-col='3', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-renren
                footer
                  | Renren
            li#s19.gs-w(data-row='4', data-col='4', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-weibo
                footer
                  | Weibo
                  i.fa.fa-comment.fafooter.pull-right
            li#s20.gs-w(data-row='4', data-col='5', data-sizex='1', data-sizey='1')
              .rel
                span.test
                  a(href='#')
                    i.fa.fa-bitcoin
                footer
                  | Bitcoin
      script(type='text/javascript').
        $('body').css('padding-top', '46px')
        $(function(){
          var header_height = 46;
          var window_width = $(window).width();
          var window_height = $(window).height();
          var widget_width = window_width / 5;
          var widget_height = (window_height - header_height) / 4;
          gridster = $(".gridster > ul").gridster({
            widget_margins: [0, 0],
            widget_base_dimensions: [widget_width, widget_height],
          }).data('gridster');//.disable().disable_resize();
        });
        $('#s1').css('background', '#1abc9c');
        $('#s2').css('background', '#2ecc71');
        $('#s3').css('background', '#3498db');
        $('#s4').css('background', '#9b59b6');
        $('#s5').css('background', '#34495e');
        $('#s6').css('background', '#16a085');
        $('#s7').css('background', '#27ae60');
        $('#s8').css('background', '#2980b9');
        $('#s9').css('background', '#8e44ad');
        $('#s10').css('background', '#2c3e50');
        $('#s11').css('background', '#f1c40f');
        $('#s12').css('background', '#e67e22');
        $('#s13').css('background', '#e74c3c');
        $('#s14').css('background', '#ecf0f1');
        $('#s15').css('background', '#95a5a6');
        $('#s16').css('background', '#f39c12');
        $('#s17').css('background', '#d35400');
        $('#s18').css('background', '#c0392b');
        $('#s19').css('background', '#bdc3c7');
        $('#s20').css('background', '#7f8c8d');

    include partials/footer
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXX-X']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    script.
      $("#theme1").click(function(){
        $('#s1').css('background', '#1abc9c');
        $('#s2').css('background', '#2ecc71');
        $('#s3').css('background', '#3498db');
        $('#s4').css('background', '#9b59b6');
        $('#s5').css('background', '#34495e');
        $('#s6').css('background', '#16a085');
        $('#s7').css('background', '#27ae60');
        $('#s8').css('background', '#2980b9');
        $('#s9').css('background', '#8e44ad');
        $('#s10').css('background', '#2c3e50');
        $('#s11').css('background', '#f1c40f');
        $('#s12').css('background', '#e67e22');
        $('#s13').css('background', '#e74c3c');
        $('#s14').css('background', '#ecf0f1');
        $('#s15').css('background', '#95a5a6');
        $('#s16').css('background', '#f39c12');
        $('#s17').css('background', '#d35400');
        $('#s18').css('background', '#c0392b');
        $('#s19').css('background', '#bdc3c7');
        $('#s20').css('background', '#7f8c8d');});
      $("#theme2").click(function(){
        $('#s1').css('background', '#000000');
        $('#s2').css('background', '#404040');
        $('#s3').css('background', '#606060');
        $('#s4').css('background', '#808080');
        $('#s5').css('background', '#c0c0c0');
        $('#s6').css('background', '#d0d0d0');
        $('#s7').css('background', '#e0e0e0');
        $('#s8').css('background', '#ffffff');
        $('#s9').css('background', '#ff0000');
        $('#s10').css('background', '#ff9900');
        $('#s11').css('background', '#ff0099');
        $('#s12').css('background', '#33ff00');
        $('#s13').css('background', '#00ffff');
        $('#s14').css('background', '#0066ff');
        $('#s15').css('background', '#cc00ff');
        $('#s16').css('background', '#3300ff');
        $('#s17').css('background', '#7700ff');
        $('#s18').css('background', '#ff00ff');
        $('#s19').css('background', '#ffccff');
        $('#s20').css('background', '#33ffff');});
      $("#theme3").click(function(){
        $('#s1').css('background', '#67321A');
        $('#s2').css('background', '#FF823F');
        $('#s3').css('background', '#FF883F');
        $('#s4').css('background', '#FF8E3F');
        $('#s5').css('background', '#FF943F');
        $('#s6').css('background', '#FF9A3F');
        $('#s7').css('background', '#FF9F3F');
        $('#s8').css('background', '#FFA53F');
        $('#s9').css('background', '#FFAB3F');
        $('#s10').css('background', '#FFB13F');
        $('#s11').css('background', '#FFB53F');
        $('#s12').css('background', '#FFB93F');
        $('#s13').css('background', '#FFBD3F');
        $('#s14').css('background', '#FFC23F');
        $('#s15').css('background', '#FFC63F');
        $('#s16').css('background', '#FFCA3F');
        $('#s17').css('background', '#FFCE3F');
        $('#s18').css('background', '#FFD33F');
        $('#s19').css('background', '#FFD73F');
        $('#s20').css('background', '#A38C28');});
